{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V_sualization</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">

</head>

<body class="w-100 h-100">

<header>
    <span>V_SUALIZATION</span>
</header>

<nav>
    <div class="menu">
        <div class="notcurrent btn" style="font-size:19px;font-family: 'Merriweather Sans', sans-serif;"><a href="newyork.html">D.S</a></div>
        <div class="current btn" style="font-family: 'Merriweather Sans', sans-serif;"><a href="main.html">HOME</a></div>
        <div class="notcurrent btn" style="font-family: 'Merriweather Sans', sans-serif;"><a href="chicago.html">ALGORITHM</a></div>
    </div>
</nav>


{% block body %}
{% endblock %}
<footer>저작자: 김세란 | 이메일: gyerangyeran23@gmail.com </footer>

</body>


</html>