{% extends 'home/templates/base.html' %}
{% block body %}

	<section>
		<br>
		<div class="content">
			<div class="upperbox">
				<div class="left">
					<table style="border-collapse:collapse;font-family: 'Oswald', sans-serif; width:400px">
							<tr >
								<td colspan="2" style="background-color:#6a60a9;color:white;font-weight:bold;font-size:20px">멘토링 일정</td>
							</tr>
							<tr >
								<td colspan="2" style="background-color: #f0f5f9;font-weight:bold;">전반부</td>
							</tr>
							<tr >
								<td> 12.13</td>
								<td>혜화, <i>칠린</i></td>
							</tr>
							<tr >
								<td> 12.20</td>
								<td>혜화, <i>할리스</i></td>
							</tr>
							<tr>
								<td>12.27</td>
								<td>?</td>
							</tr>
							<tr >
								<td> - </td>
								<td> ? </td>
							</tr>
							<tr >
								<td colspan="2" style="background-color: #f0f5f9;font-weight:bold;">후반부</td>
							</tr>
							<tr >
								<td> - </td>
								<td> ? </td>
							</tr>
							<tr >
								<td> - </td>
								<td> ? </td>
							</tr>
							<tr >
								<td> - </td>
								<td> ? </td>
							</tr>

						</table>
						<br>
				</div>

				<div class="right">
					<div class="square fade-in"><h3>주제: 알고리즘, 자료구조를 시각화 웹사이트</h3>
					</div>
					<br><br>
					<div class="forms">
						<div style="padding: 10px">
							<span style="font-weight: bolder;font-size:20px;color:white">로그인</span>
							<br>
{#							<span style="color:white;font-size:12px">로그인</span>#}
							<form>
								<p>
									<strong style="font-weight: bolder;">아이디</strong>
									<br>
									<input type="text" name="name" vlaue="아이디 입력">
								</p>
								<p>
									<strong style="font-weight: bolder;">비밀번호</strong>
									<br>
									<input type="text" name="name" vlaue="하고싶은 말 입력">
								</p>
								<p>
									<input type="submit" name="제출">
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div style="background-color: #dedcee;">
				<br>
				<br>
			</div>
			<div class="lowerbox" style="padding:20px">
				<div>
{#					<p style="font-style:italic;font-family: 'Hi Melody', cursive;">여행과 변화를 사랑하는 사람은 생명을 가진 사람이다. 바그너</p>#}
				</div>
			</div>
		</div>
	</section>
{% endblock %}