{% extends 'home/templates/base.html' %}
{% block body %}

	<section>
		<br>
		<div class="content">
            <div></div>
			<div class="upperbox">
				<div class="left">
					<table style="border-collapse:collapse;font-family: 'Oswald', sans-serif; width:400px">
							<tr >
								<td colspan="2" style="font-weight:bold;font-size:20px">~ 멘토링 일정 ~</td>
							</tr>
							<tr >
								<td colspan="2" style="background-color: #f0f5f9;font-weight:bold;">전반부</td>
							</tr>
							<tr >
								<td> 12.13</td>
								<td>혜화, <i>칠린</i> | 일정 계획 및 페이지 기획</td>
							</tr>
							<tr >
								<td> 12.20</td>
								<td>혜화, <i>할리스</i> | git 사용법, HTML&CSS, Django 기초</td>
							</tr>
							<tr>
								<td>1.1</td>
								<td>혜화, <i>스타벅스</i> | 기본 정렬 알고리즘, 점근적 표기</td>
							</tr>
							<tr >
								<td> 1.8 </td>
								<td> 혜화, <i>스타벅스</i> | 고급 정렬 알고리즘, 재귀 호출, 구현 </td>
							</tr>
							<tr >
								<td colspan="2" style="background-color: #f0f5f9;font-weight:bold;">후반부</td>
							</tr>
							<tr >
								<td> 1.21 </td>
								<td> 헤화, <i>스타벅스</i> | 기본 정렬 알고리즘 시각화 기능 구현</td>
							</tr>
							<tr >
								<td> 1.28 </td>
								<td> 온라인, <i>게더타운</i> | README.md 작성, 장고 템플릿 태그 </td>
							</tr>
							<tr >
								<td> 2.4 </td>
								<td> 온라인, <i>게더타운</i> | 검색 알고리즘 구현 </td>
							</tr>

						</table>
						<br>
				</div>

				<div class="right">
					<div class="square fade-in"><h3>주제: 알고리즘 시각화 웹사이트 </h3>
					</div>
					<br><br>
					<div class="forms">
						<div style="padding: 10px">
                            notion link: <br>
                            <a href="https://chipped-cartwheel-163.notion.site/V_isualization-edf52663220341bf9b5366d70341c4c9">click here</a>
                            <br><br>
							멘토: <br> {{ mentor.name }}, {{ mentor.mail }}
                            <br>
                            멘티 : <br> {{ mentee.name }}, {{ mentee.mail }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}