body{
        background-color: #efe5d0;
        margin: 0px;
}
header{
    background-color: #bb6354;
    text-align: center;

    padding: 50px 20px 10px 20px;
    margin: 0px;

    font-family: 'Arial Black',sans-serif;
    text-shadow: 0px 7px rgba(0, 0, 0, 0.44);
    color: #fffcf0;
    font-weight: 900;
    font-size: 56px;
}
nav {
    background-color: white;
}
section {
    background-color: #ecd3d3;
    padding: 15px;

}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    font-size: 90%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    flex-wrap: wrap;
}
.btn{
    text-decoration: none;
    font-size:20px;
    color:white;
    padding:10px 20px 10px 20px;
    margin:10px;
    width: 100px;
    text-align: center;

    border-radius: 10px;
    transition:all 0.1s;

}
a{
    color: black;
    text-decoration:none;
}
a:hover {
    color: white;
}
.btn.notcurrent{
    background-color: #ec7777;
    border-bottom:5px solid #c54c4c;
}
.btn.current{
    background-color: #e89d9d;
    border-bottom:5px solid #de7373;
}
.content{
    background-color: white;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:space-around;
}
.left{
    padding: 10px;
}
.right{
    padding: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;/*???*/
    align-items: space-between;
    justify-content: center;
}

.forms{
    border: 5px #c5564c solid;
    background-color: #e7796f;
}

tr,td,table{
    border:5px #ea9797 solid; height:50px; text-align: center;
    background-color: #e8c0c0;
}
.upperbox{
    /*background-color: black;*/
    background-color: #faebeb;

    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
}
.lowerbox{
    /*background-color: coral;*/
    background-color: #faebeb;
    padding:20px;
    text-align: center;
}
.square {
    background-color:#e8c0c0;
    font-style: italic;
    border: 5px #ea9797 solid;
    width: 400px;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    display: inline-block;
}
.square.fade-in {
  animation-name: fade;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 3s;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes fade {
 0% { opacity: 0; }
 100% { opacity: 1; }
}